body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }  